#container1[class=highlight] {
    background-color: green;
}

#container2 p {
    color: pink;
}

#container2>p {
    color: red;
}

#container3>input:not(input[type=submit]) {
    border: 1px solid blue;
}

#container4>h1, #container4>.title{
    color: green;
    font-size: 20px;
}
/*5*/
div[class^=user] {
    background-color: lightgrey;
}

div[class$=info] {
    color: red;
}

div[class~=product] {
    background-color: coral;
}

div[class|=admin] {
    background-color: greenyellow;
}

#container6>input[type=text]:focus {
    background-color: yellow;
}

#container6>input[type=text]:hover {
    background-color: green;
}

#container7>:nth-child(3) {
    font-weight: bold;
}

.container8>p:only-of-type {
    color: blue;
}

#container9>p[title*=important]:not(#container9>p[title*=not-important]) {
    background-color: red;
}

#menu>[class=active] {
    color: red;
}

#menu>li:nth-child(2) {
    font-weight: bold;
}